* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
}

/* Top Bar */

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 12px 80px;
    background: white;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #777;
}

.left-top {
    display: flex;
    gap: 30px;
}

.left-top i {
    color: #f35525;
}

.right-top {
    display: flex;
    gap: 10px;
}


.right-top i {
    width: 28px;
    height: 28px;
    background: #cdcdcd;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
}

.right-top i:hover {
    background: #f35525;
}

.right-top a {
    text-decoration: none;
}


/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
    background: white;
}

nav h1 {
    font-size: 36px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 45px;
    margin-left: auto;
    margin-right: 20px;
}


nav ul li a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #1e1e1e;
    text-decoration: none;
}

nav a:hover {
    color: #f35525;
}


.schedule-btn {
    background: #1e1e1e;
    color: white;
    border: none;
    border-radius: 50px;
    height: 50px;
    padding: 0 25px 0 0;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 100;
    cursor: pointer;
}

.schedule-btn:hover {
    color: #f35525;
}

.schedule-btn .icon {
    width: 50px;
    height: 50px;
    background: #f35525;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-btn .icon i {
    color: white;
    font-size: 16px;
}

/* HERO */

.hero {
    height: 780px;
    background: url("images/banner-01.jpg") center center/cover no-repeat;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 180px;
}

.hero-content {
    max-width: 500px;
}

.location {
    display: inline-block;
    background: white;
    padding: 8px 15px;
    font-size: 15px;
    margin-bottom: 30px;
    font-weight: 500;
}

.location span {
    color: #f35525;
    font-weight: bold;
}

.hero h2 {
    color: white;
    font-size: 50px;
    line-height: 1.0;
    font-weight: 600;
}

/* ARROWS */

.slider-arrows {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.arrow {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
}

/* DOTS */

.dots {
    position: absolute;
    bottom: 35px;
    left: 180px;
}

.dots span {
    width: 10px;
    height: 10px;
    background: white;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

.active-dot {
    background: #f35525 !important;
}

/* FEATURED SECTION */

.featured {
    width: 90%;
    margin: 80px auto;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.featured-image {
    position: relative;
    flex: 1;
}

.featured-image img {
    width: 100%;
    max-width: 360px;
    display: block;
}

.featured-icon {
    position: absolute;
    bottom: 90px;
    left: -40px;
    width: 90px;
    height: 90px;
    background: #f35525;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1px;
}

.featured-icon img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.featured-content {
    width: 550px;
}

.featured-content h6 {
    color: #f32566;
    margin-bottom: 20px;
}

.featured-content h2 {
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 30px;
}

.accordion {
    width: 550px;
    height: 400px;
    background: #f8f8f8;
    border-radius: 12px;
    padding: 20px;
}

.accordion input {
    display: none;
}

.accordion-title {
    display: block;
    padding: 25px 0;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-top: 1px solid #ddd;
}

.accordion input:first-child+.accordion-title {
    border-top: none;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

.accordion-content p {
    line-height: 2;
    font-size: 14px;
    padding-bottom: 25px;
}

.accordion-content span {
    color: #0d6efd;
    font-weight: 500;
}

#acc1:checked+.accordion-title,
#acc2:checked+.accordion-title,
#acc3:checked+.accordion-title {
    color: #f35525;
}

#acc1:checked+.accordion-title+.accordion-content,
#acc2:checked+.accordion-title+.accordion-content,
#acc3:checked+.accordion-title+.accordion-content {
    max-height: 300px;
}

.featured-info {
    width: 300px;
    height: 530px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    padding: 35px;
    border-radius: 10px;
}

.info-box {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    border-bottom: 1px solid #eee;
}

.info-box:last-child {
    border-bottom: none;
}

.info-box i {
    font-size: 35px;
    color: #f35525;
}

.info-box h3 {
    font-size: 22px;
}

.info-box p {
    font-size: 14px;
    color: gray;
}

/* VIDEO SECTION */

.video-section {
    height: 450px;
    background: url(images/video-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.video-content h5 {
    color: #f32566;
    margin-bottom: 20px;
}

.video-content h2 {
    font-size: 42px;
    line-height: 1.4;
    color: white;
}

.video-image-section {
    margin-top: -120px;
    display: flex;
    justify-content: center;
}

.video-container {
    position: relative;
    width: fit-content;
    margin: auto;
}

.video-container img {
    display: block;
    width: 1000px;
    /* your image width */
    border-radius: 10px;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: rgba(243, 85, 37, .5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
}

.play-icon {
    position: relative;
    z-index: 1;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 18px solid #f35525;
    margin-left: 5px;
}

/* COUNTERS */

.counters {
    padding: 120px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.counter-box {
    width: 250px;
    background: #fff3ef;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.counter-box::after {
    content: "";
    width: 45px;
    height: 45px;
    background: #f35525;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: -15px;
}

.counter-box h2 {
    font-size: 40px;
    color: #f35525;
}

.counter-box p {
    color: gray;
    font-size: 14px;
}

/* DEAL SECTION */

.deal-section {
    padding: 100px;
    background: #fafafa;
}

.deal-title h6 {
    color: #f32566;
    margin-bottom: 15px;
}

.deal-title h2 {
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 0px;
}

.deal-buttons {
    text-align: right;
    margin-bottom: 50px;
    margin-top: -60px;
}

.deal-buttons button {
    padding: 12px 25px;
    border: none;
    background: #1e1e1e;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.active-btn {
    background: #f35525 !important;
}

.deal-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
}

.deal-info {
    width: 270px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .08);
}

.deal-row {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.deal-row:last-child {
    border: none;
}

.deal-image img {
    width: 520px;
    height: auto;
    object-fit: cover;
}

.deal-text {
    width: 320px;
}

.deal-text h3 {
    margin-bottom: 20px;
}

.deal-text p {
    line-height: 1.8;
    margin-bottom: 20px;
    color: #666;
}

.deal-visit-btn {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #1e1e1e;
    color: #fff;
    border: none;
    border-radius: 30px;
    height: 50px;
    padding-right: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 200;
    width: 200px;
    white-space: nowrap;
}

.visit-icon {
    width: 50px;
    height: 50px;
    background: #f35525;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visit-icon i {
    color: white;
    font-size: 16px;
}

/* Cards */

.properties {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.properties-section {
    width: 1200px;
    margin: 120px auto;
    text-align: center;
}

.properties-section h6 {
    color: #f32566;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.properties-section h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #1e1e1e;
    line-height: 1.3;
    margin-bottom: 70px;
}

.card {
    background: #fafafa;
    padding: 30px;
    border-radius: 12px;
    text-align: left;
}

.card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.property-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.type {
    background: #fce3da;
    color: #1e1e1e;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 14px;
}

.price {
    color: #f35525;
    font-size: 22px;
    font-weight: 700;
}

.top span {
    background: #ffe7de;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.top h3 {
    color: #f35525;
}

.card h3 {
    margin: 25px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    color: #1e1e1e;
}

.card p {
    color: #666;
    margin-bottom: 10px;
    font-size: 14px;
}

.card hr {
    margin: 25px 0;
    border: none;
    border-top: 1px solid #e5e5e5;
}

.property-btn {
    display: block;
    width: 170px;
    height: 46px;
    margin: 30px auto 0;
    background: #1e1e1e;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    line-height: 46px;
    text-align: center;
}

.card button:hover {
    background: #f35525;
}

.details {
    color: #666;
    font-size: 13px;
    line-height: 2;
}

.details span {
    color: #1e1e1e;
    font-weight: 600;
}

/* CONTACT SECTION */

.contact-section {
    height: 450px;
    background: url("images/contact-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-heading h6 {
    color: #f32566;
    margin-bottom: 15px;
}

.contact-heading h2 {
    color: white;
    font-size: 42px;
    line-height: 1.4;
}

/* CONTACT CONTENT */

.contact-content {
    padding: 0 120px 120px;
    margin-top: -120px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.contact-left {
    width: 60%;
}

.contact-left iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 10px;
}

.contact-cards {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.contact-card {
    flex: 1;
    background: white;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.contact-card i {
    font-size: 30px;
    color: #f35525;
}

.contact-card p {
    color: gray;
    font-size: 14px;
}

/* FORM */

.contact-form {
    width: 35%;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    margin-bottom: 25px;
    border: none;
    background: #f5f5f5;
    border-radius: 25px;
    font-size: 14px;
}

.contact-form textarea {
    border-radius: 15px;
    resize: none;
}

.contact-form button {
    width: 170px;
    height: 50px;
    background: #1e1e1e;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #f35525;
}

/* FOOTER */

footer {
    height: 100px;
    background: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
    font-size: 15px;
}